<div id="BOX">
    <h1>Hello, Rails!</h1>
    <%= link_to 'My Blog', controller: 'articles' %>
    <hr>
    <%= link_to 'New article', new_article_path %>
</div>
<!-- # < %= render 'articles/index' %>-->
